.form {
  margin: 20% auto;
  input {
    height: 50px;
    width: 80%;
    padding: 0 15px;
    color: #4d4d4d;
    &[type=submit] {
      width: 92px;
      margin-left: 15px;
      padding: 16px 0;
      background-color: #000000;
      color: #ffffff;
      border: none;
    }
  }
}
