.card {

  display: inline-block;
  align-items: center;
  margin: 10px;
  padding: 0px;
  max-height: 420px;
  width: 260px;
  border: 2px solid #ECECEC;
  border-radius: 5px;
  padding: 20px;
  .title {

    color: #000000;
    font-size: 18px;
    height: 54px;
    overflow: hidden;
    display: block;
    font-weight: bold;
    line-height: 28px;
    margin: auto;
    text-align: center;
    margin-bottom: 10px;
  }
  .image {
    text-align: center;
    margin-bottom: 10px;
    img {
      height: 150px;
    }
  }
  .price {
    text-align: center;
    margin-bottom: 30px;
    span {
      font-weight: bold;
      font-size: 25px;
    }
  }
  .add-item {
    text-align: center;
    .add {
      border: 1px solid #000000;
      padding: 10px 30px;
      background-color: #000000;
      color: #ffffff;
      cursor: pointer;
    }
  }
}